@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono&family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

*{
    font-family: 'Josefin Sans', sans-serif;
}

#all {
  margin: 0 auto;
  text-align: center;
  width: 90%;
  background-color: brown;
}
#Title {
  font-size: xx-large;
  height: 100px;
  width: 70%;
  margin: 0 auto;
  background-color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 40pt;
}
#GenInfo {
  margin-right: 30%;
}
#OpenHours {
  margin-left: 30%;
}
#GuesthouseInfo {
  margin-right: 30%;
}
#Contacts {
  color: white;
  background-color: black;
}
