@import url("https://fonts.googleapis.com/css2?family=Chivo+Mono&family=Montserrat:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");

* {
  font-family: "Josefin Sans", sans-serif;
  scroll-behavior: smooth;
}

#all {
  margin: 0 auto;
  text-align: center;
  width: 100%;
  background-color: #f2f2f2;
}

#darkMode {
  margin-left: 20px;
  position: fixed;
  bottom: 0;
  z-index: 1;
}

#mode {
  background-color: white;
  width: 90px;
  border-radius: 50px;
  box-shadow: 3px 3px 4px gray;
  cursor: pointer;
}

#menu {
  background-color: #fff;
  height: 100px;
  font-size: 20pt;
  text-align: right;
  width: 100%;
  overflow: hidden;
  position: fixed;
  top: 0px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  box-shadow: 3px 3px 4px gray;
  z-index: 1;
}

#menuLinks {
  display: inline-block;
  text-align: center;
  margin-top: 35px;
}

#menu a {
  text-decoration: none;
  font-size: 20pt;
  color: black;
  padding: 14px 16px;
}

#logo {
  float: left;
  width: 100px;
  height: 100px;
}

#title {
  height: 700px;
  width: 60%;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0 auto;
  background-image: url(../img/headerImage2.jpg);
  font-family: "Montserrat", sans-serif;
  font-size: 60pt;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

#titleText {
  width: 100%;
}

#title a {
  font-size: 16px;
  margin-top: 200px;
  position: absolute;
  text-decoration: none;
  color: #ffffff;
}

#genInfo h2 {
  text-align: center;
}

#genInfo {
  font-size: x-large;
  width: 45%;
  text-align: left;
  background-color: #ffffff;
  padding-left: 25px;
  padding: 15px;
  float: left;
  margin-bottom: 40px;
  border: solid 0.5px #000000;
  border-radius: 10px;
}

#genInfo a {
  text-decoration: underline;
  color: #000000;
}

#openHours h2 {
  text-align: center;
}

#openHours {
  font-size: x-large;
  width: 45%;
  text-align: center;
  background-color: #ffffff;
  padding-left: 25px;
  padding: 15px;
  float: right;
  margin-top: 40px;
  padding-bottom: 0px;
  border: solid 0.5px #000000;
  border-radius: 10px;
}

#guestHouseInfo h2 {
  text-align: center;
}

#guestHouseInfo {
  font-size: x-large;
  width: 45%;
  text-align: left;
  background-color: #ffffff;
  padding-left: 25px;
  padding: 15px;
  float: left;
  margin-top: 40px;
  padding-bottom: 0px;
  border: solid 0.5px #000000;
  border-radius: 10px;
}

#contactsWrapper {
  color: white;
  background-color: black;
  font-size: 16pt;
}

#contacts {
  width: 100%;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

#adress::before {
  content: url(../img/adress24.png) " ";
  display: block;
}

#phoneNumber::before {
  content: url(../img/phone30.png) " ";
  display: block;
}

#mobileNumber::before {
  content: url(../img/mobileWhite30.png) " ";
  display: block;
}

#mapContainer {
  font-size: x-large;
  width: 99.8%;
  height: 570px;
}

iframe {
  width: 100%;
  height: 500px;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  border: 1px solid black;
}

#imageTwo {
  border-radius: 10px;
}

#imageThree {
  border-radius: 10px;
}

#imageOne {
  border-radius: 10px;
}

@media only screen and (max-width: 1250px) {
  #title {
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0 auto;
    background-image: url(../img/headerImage2.jpg);
    font-family: "Montserrat", sans-serif;
    font-size: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
  }

  #title a {
    font-size: x-large;
    position: absolute;
    text-decoration: none;
    color: #ffffff;
    margin-bottom: 50px;
  }

  #titleText {
    font-size: 60pt;
  }

  #adress::before {
    display: inline;
  }

  #phoneNumber::before {
    display: inline;
  }

  #mobileNumber::before {
    display: inline;
  }

  iframe {
    height: 300px;
  }

  #mapContainer {
    height: 370px;
    width: 99%;
  }

}

@media only screen and (max-width: 1100px) {
  #genInfo {
    width: 100%;
    margin-bottom: 10px;
    font-size: 13pt;
  }

  #openHours {
    width: 100%;
    float: left;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 13pt;
  }

  #guestHouseInfo {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 13pt;
  }

  #imageTwo {
    width: 100%;
    margin: 0 auto;
  }

  #imageThree {
    width: 100%;
    margin: 0 auto;
  }

  #imageOne {
    width: 100%;
    margin: 0 auto;
  }
  
}

@media only screen and (max-width: 800px) {
  #titleText {
    font-size: xx-large;
    margin-bottom: 300px;
  }

  #title a {
    display: none;
  }

  #genInfo {
    width: 100%;
    margin-bottom: 10px;
    margin-top: 0px;
    background-size: contain;
  }

  }



@media only screen and (max-width: 500px) {
  body {
    margin: 0;
    padding: 0;
  }

  #all {
    position: absolute;
    margin: 0 auto;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
  }

  #menu {
    width: 100%;
  }

  #menu a {
    padding: 0%;
  }

  #title {
    height: 350px;
    width: 100%;
  }

  #titleText {
    font-size: xx-large;
    margin-bottom: 0px;
  }

  #title a {
    font-size: x-large;
    margin-bottom: 0px;
  }

  #menuLinks {
    display: none;
    width: 0px;
    height: 0px;
  }

  iframe {
    height: 200px;
  }

  #mapContainer {
    height: 270px;
  }

  #contactsWrapper {
    font-size: 13pt;
  }

  #menu {
    margin: 0 auto;
  }

  #genInfo {
    width: 91.2%;
  }

  #guestHouseInfo {
    width: 91.2%;
  }

  #openHours {
    width: 91.2%;
  }

  #mode {
    margin-left: 0px;
    width: 50px;
  }
}
