@import url("https://fonts.googleapis.com/css2?family=Chivo+Mono&family=Montserrat:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");

* {
  font-family: "Josefin Sans", sans-serif;
  scroll-behavior: smooth;
  user-select: none;
}

#all {
  margin: 0 auto;
  text-align: center;
  width: 90%;
  background-color: brown;
}

#menu {
  background-color: #fff;
  height: 100px;
  font-size: 20pt;
  text-align: right;
  width: 90%;
  overflow: hidden;
  position: fixed;
  top: 0px;
}

#menuLinks {
  display: inline-block;
  text-align: center;
  margin-top: 35px;
}

#menu a {
  text-decoration: none;
  font-size: 20pt;
  color: black;
  padding: 14px 16px;
}

#menu img {
  float: left;
  width: 100px;
  height: 100px;
}

#title {
  height: 700px;
  width: 60%;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0 auto;
  background-image: url(../img/headerImage.jpg);
  font-family: "Montserrat", sans-serif;
  font-size: 60pt;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

#titleText {
  width: 100%;
}

#title a {
  font-size: 16px;
  margin-top: 200px;
  position: absolute;
  text-decoration: none;
  color: #ffffff;
}

#genInfo {
 
  font-size: x-large;
}

#openHours {

  font-size: x-large;
}

#guestHouseInfo {

  font-size: x-large;
}

#contactsWrapper {
  color: white;
  background-color: black;
  font-size: 16pt;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

#contacts {
  width: 100%;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

#adress::before {
  content: url(../img/adress24.png) " ";
  display: block;
}

#phoneNumber::before {
  content: url(../img/phone30.png) " ";
  display: block;
}

#mobileNumber::before {
  content: url(../img/mobileWhite30.png) " ";
  display: block;
}

iframe {
  width: 100%;
  height: 500px;
  border-radius: 25px;
}

@media only screen and (max-width: 1250px) {
  #title {
    width:100%;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0 auto;
    background-image: url(../img/headerImage.jpg);
    font-family: "Montserrat", sans-serif;
    font-size: 60pt;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
  }

  #title a {
    font-size: x-large;
    position: absolute;
    text-decoration: none;
    color: #ffffff;
    margin-bottom:50px;
  }

  #titleText {
    font-size: 60pt;
  }


  #adress::before {
    display: inline;
  }

  #phoneNumber::before {
    display: inline;
  }

  #mobileNumber::before {
    display: inline;
  }

  iframe {
    height: 300px;
  }
}

@media only screen and (max-width: 800px) {
  #all{
    width:100%;
  }
  #menu{
    width:100%;
  }
  #title {
    height: 500px;
    width:100%;
  }
 
  #titleText, #title a {
    margin-bottom: 100px;
  }

  iframe {
    height: 250px;
  }

  #contactsWrapper {
    font-size: 13pt;
  }
  #logo{
 margin-left:40%;
  }

}